<!DOCTYPE index.html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>交互功能</title>
</head>
<body>
<form method="POST" action="地区数据">
    <select name="the_region_selected">
        {% for item in the_select_region %}
            <option value="{{ item }}"formaction="map.html"><a href=map.html" target="_blank">癌症地图</a> </option>
            <option value="{{ item }}"> <a href=cancer-type.html.html" target="_blank">癌症类型</a></option>
            <option value="{{ item }}"> <a href=smoth-death.html" target="_blank">吸烟与癌症</a></option>

        {% endfor %}
    </select>
<p><input value='点击查看癌症地图' type='SUBMIT'formaction="map.html"></p >
<p><input value='点击查看癌症类型' type='SUBMIT'formaction="cancer-type.html"></p >
<p><input value='点击查看吸烟与癌症' type='SUBMIT'formaction="smoth-death.html"></p >
</form>

<form method="POST" action="癌症人口.csv">
<form method="POST" action="吸烟致癌症死亡率.csv">
<form method="POST" action="癌症死亡率.csv.csv">
<p><input value='点击下载癌症人口表格!' type='SUBMIT'></p >

</form>



</body>
</html>