<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户登录</title><link rel="shortcut icon" href="{{ url_for('static', filename='images/lock.png')}}"/>
</head>
<body>
<div align="center">
    <div>
        <div>
            <h1>Welcome</h1>
            <form class="form" method="post" action="" onsubmit="return Login();">
                <input type="text" placeholder="Username" name="username" id="username">
                <input type="password" placeholder="Password" name="password" id="password">
                <button type="submit" id="login-button">SubmitLogin</button>
                <button type="button" id="btnlogin">ButtonLogin</button>
                <a href="infor">testhtm</a>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }} "></script>
{#<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>#}
<script type="text/javascript">
    function Login() {
        var login = false;
        var  txtname = $("#username").val();
        var txtpsw = $("#password").val();

        $.ajax({
            {#url:  "/py_login",可以#}
            url:"{{url_for("py_login") }}",{# 可以调到后台，路由名称#}
            {#data: "username=" + txtname + "&password=" + txtpsw,#}
            data:{"username":txtname,"userpswd":txtpsw},
            type: 'GET',
            contentType: 'json',{#'application/x-www-form-urlencoded',#}
            async: false,
            success: function (d) {
                alert("success!"+d)
                var status = d.status;
                if (d != "undefined" && d=="success")
                {
                     window.location.href="infor";{# 这里链接的应该是路由中的名称#}
                }
                else
                {
                    alert("登录失败！")
                }
            }
        });
        return login;
    }
</script>

</body>
</html>