

{% extends 'base.html' %}
{% block content %}
<!--返回-->
    <input type="button" name="Submit" onclick="javascript:history.back(-1);" value="返回上一页">
<!--end-->
<h2>{{the_title}}</h2>

{#<form method="GET" action="/">#}
{#<p><input name="the_region_selected" value='首页' type='SUBMIT'></p>#}
{#</form>#}
{##}
{#<form method="POST" action="/hurun">#}
{#    <select name="the_region_selected">#}
{#        {% for item in the_select %}#}
{#            <option value="{{ item }}">{{ item }}</option>#}
{#        {% endfor %}#}
{#    </select>#}
{#<p><input value='Do it!' type='SUBMIT'></p>#}
{#</form>#}
{##}
{##}
{#<form method="POST" action="/world_number">#}
{#<p><input name="the_region_selected" value='总人数地图' type='SUBMIT'></p>#}
{#</form>#}
{##}
{#<form method="POST" action="/world_hbl">#}
{#<p><input name="the_region_selected" value='患病率地图' type='SUBMIT'></p>#}
{#</form>#}
{##}
{#<form method="POST" action="/world_man_woman">#}
{#<p><input name="the_region_selected" value='男女对比图' type='SUBMIT'></p>#}
{#</form>#}
<div style="width: 100%;height: 60%;">{{ the_plot_all|safe }}</div>
<div style="width: 100%;height: 60%;">{{ the_plot_all_1|safe }}</div>
<div style="width: 100%;height: 60%;">{{ the_plot_all_2|safe }}</div>
<div style="width: 100%;height: 60%;">{{ the_res|safe }}</div>

{% endblock %}
